XML_INPUT_FOLDER=XML_INPUT_FOLDER
XLSFORM_OUTPUT_FOLDER=XLS_OUTPUT
SAVE_XLSFORMS_LOCALLY=true

KOBO_API_TOKEN=
UPLOAD_TO_KOBO=true
KOBO_SERVER_URL=https://eu.kobotoolbox.org
KOBO_DEPLOY=true

COMMCARE_FETCH=true
COMMCARE_DOMAIN=
COMMCARE_USER=
COMMCARE_TOKEN=
COMMCARE_LIMIT=0
COMMCARE_BASE_URL=https://www.commcarehq.org
